:root {
    --base: ##cacaca;
    --spacing: 10px;
    --blur: 10px;
}


body {
    text-align: center;
}

body {
    background: #cacaca;
    color: white;
    font-family: monospace;
    font-weight: 100;
    font-size: 50px;
}

span {
    color: #e6b31e;
}

.controls {
    margin-bottom: 50px;
}

.image {
    width: 40%;
    border-radius: 10px;
}